<!-- <div class="loadingio-spinner-chunk-nq4q5u6dq7r">
  <div class="ldio-x2uulkbinbj">
    <div>
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  @keyframes ldio-x2uulkbinbj-r {
    0%,
    25%,
    50%,
    75%,
    100% {
      animation-timing-function: cubic-bezier(0, 1, 0, 1);
    }
    0% {
      transform: scale(0.7000000000000001) rotate(180deg);
    }
    25% {
      transform: scale(0.7000000000000001) rotate(270deg);
    }
    50% {
      transform: scale(0.7000000000000001) rotate(360deg);
    }
    75% {
      transform: scale(0.7000000000000001) rotate(450deg);
    }
    100% {
      transform: scale(0.7000000000000001) rotate(540deg);
    }
  }
  @keyframes ldio-x2uulkbinbj-z {
    0%,
    50%,
    100% {
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
  @keyframes ldio-x2uulkbinbj-p {
    0%,
    50%,
    100% {
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes ldio-x2uulkbinbj-c {
    0%,
    25%,
    50%,
    75%,
    100% {
      animation-timing-function: cubic-bezier(0, 1, 0, 1);
    }
    0% {
      background: #debb1d;
    }
    25% {
      background: #59c55b;
    }
    50% {
      background: #d4924f;
    }
    75% {
      background: #a052a5;
    }
    100% {
      background: #debb1d;
    }
  }
  .ldio-x2uulkbinbj > div {
    animation: ldio-x2uulkbinbj-r 4s linear infinite;
    transform-origin: 100px 100px;
  }
  .ldio-x2uulkbinbj > div > div {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: ldio-x2uulkbinbj-z 1s linear infinite;
    transform-origin: 200px 200px;
  }
  .ldio-x2uulkbinbj > div > div div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #debb1d;
    transform-origin: 50px 50px;
  }
  .ldio-x2uulkbinbj > div > div div:nth-child(1) {
    left: 0px;
    top: 0px;
    animation: ldio-x2uulkbinbj-p 1s linear infinite,
      ldio-x2uulkbinbj-c 4s linear infinite;
  }
  .ldio-x2uulkbinbj > div > div div:nth-child(2) {
    left: 100px;
    top: 0px;
    animation: ldio-x2uulkbinbj-p 1s linear infinite,
      ldio-x2uulkbinbj-c 4s linear infinite;
  }
  .ldio-x2uulkbinbj > div > div div:nth-child(3) {
    left: 0px;
    top: 100px;
    animation: ldio-x2uulkbinbj-p 1s linear infinite,
      ldio-x2uulkbinbj-c 4s linear infinite;
  }
  .ldio-x2uulkbinbj > div > div div:nth-child(4) {
    left: 100px;
    top: 100px;
    transform: scale(1);
    animation: ldio-x2uulkbinbj-c 4s linear infinite;
  }
  .loadingio-spinner-chunk-nq4q5u6dq7r {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-x2uulkbinbj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-x2uulkbinbj div {
    box-sizing: content-box;
  }
  /* [ldio] generated by https://loading.io */
</style> -->
